<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us</title>
        <link rel="website icon" type="png" href="../static/images/logo3.png">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/lightslider.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/fontawesome.min.css">

        <script src="../static/js/bootstrap.bundle.min.js"></script>
        <script src="../static/js/jquery.js"></script>
        <script src="../static/js/lightslider.js"></script>
        <script src="../static/js/script.js"></script>
    </head>

    <body>

        {% include "navbar.html"%}
        <div class="container-fluid">
            <section class="row">
                <center>
                    <h2 class="display-4">About Roaring Lions</h2>
                </center>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p>  Roaring Lion Tours and Travel Ltd is a premier provider of unforgettable travel experiences, offering
                                expertly curated tours to destinations around the globe. With a commitment to excellence and a passion for
                                adventure, Roaring Lion Tours and Travel ensures that every journey is a once-in-a-lifetime experience.
                                Contact: Princess Eguchi, Chief Executive Officer <br> <br>
                                Roaring Lion Tours and Travel Ltd, a leading provider of unforgettable travel experiences, is thrilled
                                to unveil an exciting array of adventures for 2024. From exotic wildlife safaris to cultural immersion
                                journeys, Roaring Lion Tours and Travel invites adventurers of all ages to explore the wonders of Africa
                                with expert guides and unparalleled service.
                                <br> <br>
                                With a commitment to delivering exceptional travel experiences, Roaring Lion Tours and Travel has curated a
                                diverse selection of destinations and itineraries designed to satisfy every wanderlust. Whether it’s
                                witnessing the majestic beauty of East Africa’s Kilimanjaro, discovering West Africa’s cultural diversity
                                from food to language or embarking on a historical journey through North Africa’s ancient cities of Cairo
                                and Timbuktu, Roaring Lion Tours and Travel promises to exceed your expectations as you experience your
                                travel dreams.
                                
                                </p>
                        </div>
                        

                    </div>

                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class=" card-body">
                            <p>“We are delighted to unveil our lineup of adventures for 2024,” said Princess Eguchi, CEO of Roaring Lion
                                Tours and Travel. “At Roaring Lion, we believe that travel should be more than just a vacation-it should be
                                an immersive, transformative experience that leaves you yearning for more. That is why we have meticulously
                                handpicked each destination and crafted unique itineraries that allow our guests to truly connect with the
                                world around them. <br> <br>
                                In addition to traditional sightseeing tours, Roaring Lion Tours and Travel offers specialty experiences
                                such as photography safaris, culinary adventures, and eco-friendly travel options. With a focus on
                                sustainability and responsible tourism practices, Roaring Lion Tours is committed to preserving the planets
                                natural beauty for future generations to enjoy. As an organization, we are committed to empowering the
                                communities that live in and around the places where we operate, therefore through our corporate social
                                responsibility (CSR) programs we provide water and sanitation facilities to such communities,
                                To ensure the safety and wellbeing of guests, Roaring Lion Tours and Travel has implemented rigorous health
                                and safety protocols in accordance with global guidelines. From enhanced sanitation measures to flexible
                                booking policies, Roaring Lion Tours and Travel is dedicated to providing a safe and worry-free travel
                                experience for all their travelers.
                            </p>
                        </div>

                    </div>

                </div>
                
                    
                <br>
                <!-- <p> For more information about Roaring Lion Tours and to book your next adventure, visit
                    www.roaringliontoursandtravel.com or contact them by email info@roaringliontoursandtravel.com or telephone
                    0701123789
                    About Roaring Lion Tours and Travel Ltd
                  
                    Phone: 0701123789
                    Email address: peguchi@roaringliontours.co.ke
                    Website: www.roaringliontoursandtravel.co.ke
                </p> -->
            </section>

        
        

        <section class="row text-centre">
            <h2 class="text-center text-gold">Our core values</h2>
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">Integrity</h4>
                <p>We value integrity in our day to day operations, and therefore we conduct our business with a high
                    standard of ethics. Integrity for us means relating to people in a way that is authentic and true.
                </p><br>
                <h4 class="text-center">Excellence</h4>
                <p>Here at Roaring Lion tours excellent service is a way of life not a choice. We are committed to being
                    a high performance organization by staying focused on total customer satisfaction. We don’t just
                    want to provide a satisfactory experience; we want to take very opportunity to exceed your
                    expectations.
                </p><br>
                <h4 class="text-center">Commitment</h4>
                <p>We are there for you when you need us, it’s that simpleAt Roaring lion tours we believe that it is
                    not enough to be involved, we are fully committed to
                    helping our customers experience their travel dreams. In our business, commitment is the
                    uncommon denominator because nothing great happens by mistake.
                </p>
                    </div>

                </div>
                


            </div>
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">Sustainability</h4>
                        <p>No matter where you go or how you travel, you will have an effect on the environment
                            and the people you visit, that is why we strongly believe that sustainable tourism is key to
                            success in our business. As an organization we strive to embrace sustainable practices and adapt our
                            strategies to the preservation of the environment. We work closely with local partners to ensure
                            that everyone who serves us earns a fair wage. We also carefully research the experiences we
                            provide to our guests so that we can be confident that wildlife, ecosystems, historic sites and most
                            importantly the people we encounter are not being harmed by our activities. Our company also
                            believes that you can have a more authentic and meaningful trip when sustainable
                            tourism practices are applied.
                        </p>
                        <h4 class="text-center">Passion</h4>
                        <p>Passion means giving 100% in everything we do with enthusiasm and dedication to our customers.
                            Every day we work with passion to serve our travellers the best way we can.
                        </p>
                        <h4 class="text-center">Reliability</h4>
                        <p>We are there for you when you need us, it’s that simple
                        </p>
                    </div>

                </div>



            </div>
        </section><br>
        {% include "footer.html" %}
    </div>
    </body>

</html>