<section class="row text-center">
    <h2 class="text-start">Bedding</h2>
    <div class="col-md-6">
        <h4>Our mission</h4>
        <p>To enrich people’s lives by providing bespoke travel experiences in a responsible, sustainable and
            reliable manner, with passion and commitment.
        </p><br>
    </div>
    <div class="col-md-6">
        <h4>Our vision</h4>
        <p>To be the undisputable tour operator of choice in East Africa
        </p><br>
    </div>
    
</section><br>