<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bwindi Impenetrable National Park</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">

    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    <!-- Navbar -->
    {% include "navbar.html" %}

    <div class="container-fluid">
        <section class="row">
            <div class="col-md-12">
                <h3>Bwindi Impenetrable Forest</h3>
                <p> This can easily be described as Uganda’s most popular park as a Gorilla Trekking base. It is referred to
                    as Impenetrable due to its thick forestation that makes accessibility of the park’s interior difficult.
                    It was declared a UNESCO Natural World Heritage site in 1994 protecting about half of the world’s
                    mountain Gorilla population. It is however quite small in size covering about 321 km². Bwindi boasts 17
                    habituated Gorilla Families split in four bases around the park. Viewing is limited to 8 people per
                    family and for a maximum of 1 hour.
                </p>  
        <img src="../static/images/bwindiforest.jpg" width="1320" height="750">
                <br>
            </div>
        </section>
        <!-- Activities -->
        <section>
            <h3 class="text-center">Activities in Bwindi Impenetrable National Park</h3>
            <b>Gorilla Trekking:</b> Embark on a once-in-a-lifetime adventure to track and observe mountain gorillas in their natural habitat.
            <br>
            <b>Nature Walks:</b> Explore the dense forests of Bwindi on guided nature walks, encountering diverse flora and fauna along the way.
            <br>
            <b>Birdwatching:</b> With over 350 bird species, including Albertine Rift endemics, Bwindi is a paradise for bird enthusiasts.
            <br>
            <b>Cultural Visits:</b> Engage with local communities, such as the Batwa Pygmies, and learn about their traditional way of life and cultural practices.
            <br>
        </section>
        <!-- Wildlife -->
        <section>
            <h3 class="text-center">Wildlife in Bwindi Impenetrable National Park</h3>
            <b>Mountain Gorillas:</b> Encounter the gentle giants of Bwindi as you trek through the forest and observe these fascinating primates up close.
            <br>
            <b>Other Primates:</b> In addition to gorillas, Bwindi is home to other primate species such as chimpanzees, monkeys, and baboons.
            <br>
            <b>Small Mammals:</b> Spot a variety of small mammals including forest elephants, duikers, and bushbucks during your explorations.
            <br>
            <b>Rich Biodiversity:</b> Discover the incredible diversity of plant and insect life that thrives within the confines of the impenetrable forest.
            <br>
        </section>
        <!-- Best time to visit -->
        <section>
            <h3 class="text-center">Best Time to Visit</h3>
            <b>Dry Season (June to September):</b> The dry season offers ideal trekking conditions with less rainfall and clearer trails.
            <br>
            <b>Wet Season (March to May and October to November):</b> Despite increased rainfall, the wet season offers lush vegetation and fewer tourists.
            <br>
            <b>Shoulder Seasons (December to February and June to September):</b> These transitional periods provide a balance between weather conditions and visitor numbers.
            <br>
        </section>
        <!-- Location -->
        <section class="row">
            <h3 class="text-center">Location</h3>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d407019.0717475635!2d29.52481503611037!3d-1.0752096728825162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x177004c131bd2c75%3A0x6f0f9e740d41ef5d!2sBwindi%20Impenetrable%20National%20Park!5e0!3m2!1sen!2sug!4v1713214896759!5m2!1sen!2sug" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <br>
    </div>
    
    <!-- Footer -->
    {% include "footer.html" %}
    
</body>
</html>
