<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Package 1</title><link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">

    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>

</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <section class="row">
          <h2>5 days/4 nights amboseli-lake naivasha-masai mara-nairobi safari package</h2>  
            <h3>Day 1: Nairobi – Amboseli</h3>
                <p>Pick up from your Nairobi hotel or Airport in the morning and drive to Amboseli
                    national park which is  less than 5 Hrs drive and is famous for its scenery with a
                    backdrop of snow-capped Mount Kilimanjaro, which dominates the landscape and
                    open plains, Amboseli is one of the best places in Africa to view large herds of
                    elephants up close. Nature lovers can explore five different habitats here ranging
                    from the dried-up bed of Lake Amboseli, wetlands with sulphur springs, the
                    savannah and woodlands. Arriving with game drive proceeding to your lodge  Oltukai
                    lodge . Check in to your lodge, have lunch and a short rest. Afternoon game drive at
                    the park later Dinner and overnight at  Oltukai lodge .
                </p>  
                <br>
            <h3>Day 2: Amboseli – Lake Naivasha</h3>
                <p> Early morning breakfast. After breakfast game drive en-route leave Amboseli for lake
                    Naivasha which is  5 Hrs drive. There will be a brief stop to view the great rift valley
                    scenery as you proceed to Naivasha and you will arrive in time for lunch. Check in
                    at  Sopa Lodge Naivasha  and have lunch. Later in the afternoon game drive with a
                    visit to Hell’s Gate National Park which allows Hiking, Biking, Rock climbing and
                    photography of wildlife and a visit to Olkaria geothermal power plant. Afterwards
                    dinner and overnight at  Sopa Lodge Naivasha.
                </p>
                <br>
            <h3>Day 3: Lake Naivasha – Masai Mara</h3>
                <p>Early morning breakfast. After breakfast leave Lake Naivasha for Masai Mara a 5
                    hours drive. You will pass through Narok town which is a famous Masai town
                    proceeding to Masai Mara National reserve. You will check to Ashnil Mara
                    camp or  Sarova Mara game Camp  or Mara Crossings Camp and have lunch.
                    Afternoon game drive through the park in search of the Lion, Cheetah, Elephant,
                    Buffalo and other members of the Big five plus other animals. Dinner and overnight
                    at  Ashnil Mara camp  or  Sarova Mara game Camp  or Mara Crossings Camp.
                </p>
                <br>
            <h3>Day 4: Masai Mara full day</h3>
                <p>Early morning game drive and return to camp for breakfast. After breakfast Full day
                    in the park with packed lunch in search of its popular residents, The Masai Mara
                    plains are full of wildebeest during migration season early July to end of September,
                    zebra, impala, topi, giraffe, Thomson’s gazelle are regularly seen, leopards, lions,
                    hyenas, cheetah, jackal and bat-eared foxes. Black rhino are a little shy and hard to
                    spot but are often seen at a distance if you are lucky. Hippos are abundant in the
                    Mara River as are very large Nile crocodiles, who lay in wait for a meal as the
                    wildebeest cross on their annual quest to find new pastures.Later in the evening,
                    dinner and overnight at  Ashnil Mara camp  or  Sarova Mara game Camp   or Mara
                    Crossings Camp.
                </p>
                <br>
            <h3>Day 5: Masai Mara – Nairobi</h3>
                <p>Early Morning breakfast at your camp. Check out of the camp and drive 5 hours to
                    Nairobi, arriving in time for lunch. Lunch at Carnivore restaurant afterwards drop off
                    at your respective hotel or Airport around 3pm. ( Optional to our clients with evening
                    Flights) – if you have evening flight you can do more game drive with packed lunch
                    till around 12:00hrs lunch time, After you drive to Nairobi you arrive in Nairobi at
                    around 5 to 6 pm drop off at Airport or back to your hotel.
                </p>
                <br>
                <h4>What is included and excluded in the itinerary: </h4>
 
                <h5>Inclusions:</h5>
                <p>
                     Arrival and departure transfer Nairobi <br>
                     Meet &amp; Greet on arrival Airport on Day 1<br>
                     Accommodation and meals as specified in the itinerary<br>
                     Game drives as indicated in the itinerary<br>
                     Park entry fees to all parks and reserves included in the itinerary for 24hrs each<br>

                     Transportation in 1 to 7 seater custom-made Safari 4×4 Land Cruiser or Minivan with services
                    of experienced Private Safaris English speaking safari driver guide (Guaranteed Window Seat &amp;
                    access to pop-up Roof)<br>
                     Four bottles of half liter mineral water per day during game drives.<br>
                     24/7 Concierge Service<br>
                     Fully Comprehensive Insurance Cover in any vehicle you will use.<br>
                     Flying doctors In the eventuality of a medical emergency, clients will be airlifted and be taken to a
                    good hospital.( Hospital bills are born by the patient.)
                     
                </p>
    <h5>Exclusions:</h5>
        <p>
         International flights ticket &amp; Domestic flights (if not mentioned above but can be included)<br>
         Personal insurance and baggage insurance<br>
         Visa fees wherever applicable.<br>
         All drinks like wines, alcohol unless stated above.<br>
         All tips and porterage.<br>
         Laundry, massages and other personal expenses e.g. mini-bar &amp; telephone unless otherwise
        stated in a all inclusive package<br>
         Any other services not mentioned above and other optional/additional activities.<br>
         Activities like Masai Village price per person 30 u.s, Boat ride price per person 30
        u.s, Balloon Safari price per person 410 u.s, walking safari as per lodge or camp rates, Night
        games drives as per lodge or camps rates.<br>
            </p>
        </section>
        <br>
        <hr>
    </div>
    
    {% include "footer.html" %}
</body>
</html>