<section>
    <footer id="footer">
        <section class="row">

        <div class="footer-section col-md-4">
            <h3>Top Destinations</h3>
            <ul>
                <li><a href="/amboseli">Amboseli National Park</a></li>
                <li><a href="/lakenakuru">Lake Nakuru National Park</a></li>
                <li><a href="/mountkenya">Mt Kenya</a></li>
                <li><a href="/serengeti">Serengeti National Park</a></li>
                <li><a href="/mountkilimanjaro">Mount Kilimanjaro</a></li>
                <li><a href="/lakenaivasha">Lake Naivasha</a></li>
            </ul>
        </div>
        <div class="footer-section col-md-4">
            <h3>Company</h3>
            <ul class="text-white">
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/privacypolicy">Privacy Policy</a></li>
                <li><a href="/requestquote">Request A Quote</a></li>
                <li><a href="/termsandconditions">Terms and Conditions</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-section col-md-4">
            <h3>Contact Us</h3>
            <p>Email: <a href="mailto:info@roaringliontours.co.ke" class="text-white">info@roaringliontours.co.ke</a></p>
            <p>Phone: <a href="tel:+254701123789" class="text-white"><i class="fa fa-mobile" aria-hidden="true"></i> +254701123789</a></p>
            <ul class="social-links text-white">
                <li><a href="https://www.instagram.com/roaringliontours" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                <li><a href="https://twitter.com/RoaringTours" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter </a></li>
                <li><a href="https://www.linkedin.com/company/roaring-lion-tours-travel-ltd/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
                <li><a href="https://www.facebook.com/RoaringLionTours" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
            </ul>
        </div>
        <hr id="hr" class="hr">
        <p style="text-align: center;">&copy; 2024 Roaring Lion Tours and Travel - All Rights Reserved</p>

    </section>
    </footer>
    </section>
