<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gateaway Experience</title><link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">

    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>

</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <section class="row">
            <h1>3 days amboseli by road</h1>
                <h2>Itinerary at a glance</h2>
                <h3>Day 01: Nairobi / Amboseli</h3>
                <h3>Day 02: Amboseli</h3>
                <h3>Day 03: Amboseli / Nairobi</h3>
            <h2>Day 01: Nairobi / Amboseli</h2>
                <p>Pick up from a city hotel and leave for Amboseli National Park nestled on the slopes
                    of Africa’s highest snow-capped mountain, Mt Kilimanjaro, and arrive in time for
                    lunch at the lodge.
                    Afternoon relax by the pool as you wait to commence your first real experience of
                    searching for the’big five’ in this beautiful and very photogenic game park. Return to
                    the lodge for dinner and overnight.
                </p>            
            <h2>Day 02: Amboseli</h2>
                <p>Full day in the park with morning and afternoon game drives at one of Kenya’s most
                    visited parks, Amboseli boasts open plains, acacia woodland, rocky thorn bush,
                    swamps and marshes that are fed by the melt waters of Kilimanjaro.
                </p>
            <h2>Day 03: Amboseli / Nairobi</h2>
                <p>After breakfast depart to Nairobi and on arrival transfer to a city hotel.</p>

        </section>
        <br>
    </div>
    {% include "footer.html" %}
</body>
</html>