<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gateaway Experiences</title><link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">

    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>

</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <section class="row">
            <h1>Itinerary at a glance</h1>
              <h3>Day 01: Nairobi / Naivasha</h3>  
              <h3>Day 02: Naivasha / Mara</h3> 
              <h3>Day 03: Masai Mara</h3> 
              <h3>Day 04: Masai Mara / Nairobi</h3> 
            <h2>DAY 01: Nairobi / Lake Nakuru</h2>
                <p>After breakfast depart on a pleasant drive to Lake Nakuru with a brief stop at the Rift
                    Valley. Afterwards proceed with your journey to Lake Nakuru National Park, famous
                    as the home of thousands of lesser and greater flamingo. This park also provides
                    sanctuary of Rothschild giraffe, black and white rhino and the elusive leopard. Arrive
                    at the lodge for lunch thereafter, an afternoon game drive to view millions of
                    flamingoes and a host of other bird life. Return to your Lodge for dinner and
                    overnight.
                </p>
            <h2>DAY 02: Lake Nakuru / Masai Mara Game Reserve</h2>
                <p>Have breakfast and depart via Narok to Masai Mara National Reserve offering
                    wonderful scenery and plenty of game. It’s perhaps the only region left in Kenya
                    where you may view animals in the same super abundance as existed a century
                    ago.
                    Arrive at the lodge for lunch and in the afternoon proceed for an exciting game
                    viewing in this vast and expansive reserve teeming with game. Return to the lodge
                    for dinner.
                </p>
            <h2>DAY 03: Masai Mara Game Reserve</h2>
                <p>Full day at the reserve with morning and afternoon game drives in search of the ‘big
                    five’. Masai Mara is at the northern most extension of the Serengeti Plains and one
                    of the richest wildlife game reserves. Its home to the awesome black–manned lion,
                    the elusive leopard, stately giraffe, vast bulk of elephants, rhino, thundering herds of
                    zebra, migrating wildebeest and numerous other plains game, thereafter return at the
                    lodge for dinner.
                </p>
                <h3>Optional Activity:</h3>
                <p>Balloon safari over Mara plains ending with a champagne breakfast, or visit the
                    traditional Masai manyatta ( off the beaten track) and experience the culture of this
                    world famous community Interact with these nomadic people who still live as they did
                    for centuries and experience their way of life as you learn about their customs and
                    traditions.
                </p>

        </section>
        <br>
    </div>
    
    {% include "footer.html" %}
</body>
</html>