<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genocide Museum</title><link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">


    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>

</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <section class="row text-black">
            <h3> Kigali Genocide Museum</h3>
            <p>No visit to Rwanda would be complete without a visit to the Kigali Genocide Memorial Centre, or
                ‘Gisozi’. This is where 250,000 victims from the 1994 genocide were buried. The three permanent
                exhibitions and burial gardens form part of a meaningful tribute to those who perished, and provide a
                powerful educational tool for visitors. <a href=" https://www.kgm.rw/"> https://www.kgm.rw/</a>
            </p> 

        </section>
        <br>
        <section class="row">
            <img src="../static/images/genocidemuseum1.jpg" alt="">

        </section>
        <br>
        <section class="row">
            <h3 class="text-center">Location</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63800.850794760976!2d29.988426921679686!3d-1.930766199999991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dca40387460893%3A0x520a96e55654da22!2sKigali%20Genocide%20Memorial!5e0!3m2!1sen!2ske!4v1714486959837!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


        </section>
        <br>
        
    </div>
    {% include "footer.html" %}
</body>
</html>