<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kidepo Valley National Park</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">


    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    <!-- Navbar -->
    {% include "navbar.html" %}

    <div class="container-fluid">
        <section class="row">
            <div class="col-md-12">
                <h3>Kidepo valley</h3>
                    <p>This is truly one of Uganda’s finest parks enjoying savannah type of climate and boasting a variety of
                        wildlife. Most important is that it is the only park in the Country where you find cheetahs amongst
                        other 77 species of mammals. Due to its distant location about 700 Kms from its capital it is best
                        accessed by flights. During the dry season all rivers dry up leaving remnant pools making this season a
                        prime game viewing period as wildlife gather to quench thirst. There are few tourists who make it here
                        and can agree this is a hidden treasure. The local tribe found here is known as the Karamajong a Nilotic
                        group that has retained most of its culture till today and would be worth a visit.
                    </p> <img src="../static/images/kidepovalley.jpg" width="1320" height="750">
                <br>
            </div>
        </section>
        <!-- Activities -->
        <section>
            <h3 class="text-center">Activities in Kidepo Valley National Park</h3>
            <b>Safari Drives:</b> Explore the park's vast savannahs on thrilling game drives, encountering elephants, lions, giraffes, and more.
            <br>
            <b>Cultural Encounters:</b> Learn about the indigenous Karamojong people and their traditional way of life through cultural interactions and village visits.
            <br>
            <b>Nature Walks:</b> Take guided nature walks to discover the park's diverse flora and fauna, including unique bird species and endemic wildlife.
            <br>
            <b>Photography:</b> Capture breathtaking landscapes, wildlife sightings, and cultural moments in one of Africa's most photogenic national parks.
            <br>
        </section>
        <!-- Wildlife -->
        <section>
            <h3 class="text-center">Wildlife in Kidepo Valley National Park</h3>
            <b>African Elephants:</b> Encounter herds of African elephants roaming the savannah, a common sight in Kidepo Valley.
            <br>
            <b>Lions:</b> Spot majestic lions lounging on rocky outcrops or prowling through the grasslands in search of prey.
            <br>
            <b>Giraffes:</b> Observe graceful giraffes grazing on acacia trees, their long necks towering above the bush.
            <br>
            <b>Buffaloes:</b> Witness large herds of Cape buffaloes, one of Africa's most formidable and iconic mammals.
            <br>
        </section>
        <!-- Best time to visit -->
        <section>
            <h3 class="text-center">Best Time to Visit</h3>
            <b>Dry Season (December to February and June to September):</b> The dry season offers excellent game viewing opportunities with sparse vegetation and concentrated wildlife sightings.
            <br>
            <b>Wet Season (March to May and October to November):</b> Despite occasional rain showers, the wet season brings lush greenery and migratory bird species to the park.
            <br>
            <b>Shoulder Seasons:</b> Consider visiting during the transitional months of October and November, as well as March to May, for fewer tourists and pleasant weather conditions.
            <br>
        </section>
        <!-- Location -->
        <section class="row">
            <h3 class="text-center">Location</h3>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32413.643784211546!2d34.292986!3d3.8995956000000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1770519c424d4d6f%3A0xf7debebbdadd9b68!2sKidepo%20Valley%20National%20Park!5e0!3m2!1sen!2sug!4v1713214983626!5m2!1sen!2sug" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <br>
    </div>
    
    <!-- Footer -->
    {% include "footer.html" %}
    
</body>
</html>
