<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lake Manyara National Park</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">


    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <section class="row">
            <div class="col-md-12">
                <h3>Lake Manyara National Park</h3>
                <p> This park offers a wilderness experience in diverse habitats, from its Rift Valley soda
                    lake to dense woodlands and steep mountainsides. Apart from a spectacular setting, the park is famous
                    for its unusual tree-climbing lions and the vast elephant herds it was established to protect.
                    The shores of the lake, encrusted with pink flamingo, attract more than 400 species of birds, many of
                    them waterfowl or migrants. Large herds of buffalo, cheetah, Masai giraffe and impala roam the lake
                    shores and the forested valley slopes. <br>
                    A Lake Manyara safari is a fascinating experience, as the park also features a ground-water forest,
                    acacia tortilis woodland and hot springs called Maji Moto. Troops of several hundred olive baboon appear
                    alongside Sykes monkey and short-eared galago. Cape clawless otter, Egyptian mongoose, hippo and
                    klipspringer are other park residents.
                </p><img src="../static/images/lakemanyara.jpg" width="1320" height="750">
                <br>
            </div>
        </section>
        <!-- Activities -->
        <section>
            <h3 class="text-center">Activities in Lake Manyara National Park</h3>
            <b>Safari Tours:</b> Embark on guided safari tours to explore the park's varied landscapes and encounter its rich wildlife, including tree-climbing lions, elephants, hippos, and diverse bird species.
            <br>
            <b>Birdwatching:</b> Lake Manyara is a paradise for birdwatchers, offering opportunities to spot flamingos, pelicans, storks, and countless other avian species.
            <br>
            <b>Canoeing:</b> Experience the park's serene beauty up close with canoeing excursions on Lake Manyara, where you can observe hippos, waterfowl, and other aquatic life.
            <br>
            <b>Cultural Tours:</b> Engage in cultural visits to nearby Maasai villages, where you can learn about traditional Maasai culture, customs, and crafts.
            <br>
            <b>Nature Walks:</b> Join guided nature walks to explore the park's lush forests, breathtaking viewpoints, and hidden waterfalls, while learning about its flora and fauna.
            <br>
        </section>
        <!-- Wildlife -->
        <section>
            <h3 class="text-center">Wildlife in Lake Manyara National Park</h3>
            <b>Tree-Climbing Lions:</b> Lake Manyara is famous for its unique population of tree-climbing lions, often spotted lounging in the branches of acacia trees.
            <br>
            <b>Elephants:</b> Encounter herds of elephants as they traverse the park's savannah and woodland habitats, often seen near water sources.
            <br>
            <b>Hippos:</b> Observe hippos wallowing in the shallows of Lake Manyara, particularly during the dry season when water levels are lower.
            <br>
            <b>Giraffes:</b> Spot graceful giraffes grazing on the park's plains, their elegant silhouettes contrasting against the backdrop of the Rift Valley escarpment.
            <br>
            <b>Birdlife:</b> With over 400 bird species recorded, Lake Manyara is a haven for birdwatchers, boasting an impressive array of resident and migratory birds.
            <br>
            <b>Buffaloes:</b> Encounter herds of African buffalo roaming the park, often found near waterholes and grazing areas.
            <br>
        </section>
        <!-- Best time to visit -->
        <section>
            <h3 class="text-center">Best Time to Visit</h3>
            <b>Dry Season (June to October):</b> The dry season offers excellent wildlife viewing opportunities, as animals congregate around water sources, and vegetation is less dense, providing clear sightlines.
            <br>
            <b>Wet Season (November to May):</b> While the wet season brings lush green landscapes and newborn wildlife, it can also make wildlife sightings more challenging due to dense vegetation. However, it's an ideal time for birdwatching, as migratory birds flock to the park.
            <br>
            <b>Shoulder Seasons (March to May and November):</b> These transitional months offer a balance between the dry and wet seasons, with fewer tourists and pleasant weather conditions, making it a good time to visit for those seeking quieter experiences.
            <br>
        </section>
        <!-- Location -->
        <section class="row">
            <h3 class="text-center">Location</h3>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d203096.03661190517!2d35.22024814939233!3d-3.2441465259742985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x18361bcfa319b239%3A0x84dd4c2ad627fa02!2sNgorongoro%20Crater!5e0!3m2!1sen!2stz!4v1713214189401!5m2!1sen!2stz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <br>
    </div>
    {% include "footer.html" %}
</body>
</html>
