<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lake Naivasha National Park</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <link rel="website icon" type="png" href="../static/images/logo3.png">

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <section class="row">
            <h2 class="text-center">Lake Naivasha National Park – Scenic Gem of the Great Rift Valley</h2>
            <p>Located in the heart of the Great Rift Valley, Lake Naivasha National Park is a scenic gem known for its tranquil waters, abundant birdlife, and stunning landscapes. The park encompasses the serene Lake Naivasha, surrounded by lush vegetation and towering acacia trees, making it a paradise for nature enthusiasts and wildlife lovers alike.</p>
            <img src="../static/images/lakenaivasha.jpg" alt="Lake Naivasha">
            <h3 class="text-center">Key Attractions</h3>
            <ul>
                <li><strong>Bird Watching:</strong> Lake Naivasha is a haven for birdwatchers, with over 400 bird species recorded in the area, including African fish eagles, pelicans, cormorants, and more. Visitors can enjoy birdwatching tours by boat or along the lake's shores, witnessing a diverse array of avian life.</li>
                <li><strong>Hippo Safaris:</strong> The lake is home to a large population of hippos, which can be spotted lounging in the shallows or grazing on the lakeside vegetation. Hippo safaris offer visitors a chance to observe these majestic creatures up close while cruising along the tranquil waters of Lake Naivasha.</li>
                <li><strong>Boat Tours:</strong> Explore the scenic beauty of Lake Naivasha on a boat tour, gliding across the calm waters while taking in panoramic views of the surrounding landscapes. Boat tours offer opportunities for photography, wildlife spotting, and relaxation amidst nature's splendor.</li>
                <li><strong>Crescent Island:</strong> Located within Lake Naivasha, Crescent Island is a unique sanctuary where visitors can walk among wild animals in their natural habitat. The island is home to a variety of wildlife, including giraffes, zebras, gazelles, and wildebeests, providing a memorable safari experience on foot.</li>
                <li><strong>Hiking and Nature Trails:</strong> Explore the park's scenic trails on foot, immersing yourself in the beauty of the Great Rift Valley. Hiking enthusiasts can venture into the nearby Hell's Gate National Park or Mount Longonot for challenging treks and breathtaking vistas.</li>
            </ul>
            <h3 class="text-center">Activities</h3>
            <ul>
                <li><strong>Bird Watching Tours:</strong> Join guided birdwatching tours to discover the rich avian diversity of Lake Naivasha, led by experienced ornithologists who will help you spot and identify various bird species.</li>
                <li><strong>Hippo Safaris:</strong> Experience the thrill of encountering hippos in their natural habitat on a hippo safari, where knowledgeable guides provide insights into hippo behavior and conservation efforts.</li>
                <li><strong>Boat Cruises:</strong> Relax and unwind on a leisurely boat cruise along the tranquil waters of Lake Naivasha, enjoying scenic views and wildlife sightings while listening to fascinating anecdotes from your boat captain.</li>
                <li><strong>Crescent Island Tours:</strong> Take a guided tour of Crescent Island to get up close and personal with wildlife such as giraffes, zebras, and wildebeests, walking amidst free-roaming animals in a pristine natural setting.</li>
                <li><strong>Hiking Expeditions:</strong> Embark on hiking expeditions to explore the park's diverse landscapes and geological features, from towering cliffs and volcanic craters to lush forests and open savannahs.</li>
            </ul>
            <h3 class="text-center">Best Time to Visit</h3>
            <p>The best time to visit Lake Naivasha National Park is during the dry season from June to October, when wildlife congregates around the lake's shores, and birdwatching conditions are optimal. However, the park can be visited year-round, with each season offering its own unique experiences and attractions.</p>
            <section class="row">
                <h3 class="text-center">Location</h3>
                <br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3996.070516022545!2d36.34789531461618!3d-0.7121167353208354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f06c72aa0e89b%3A0xb67b86a4995c23f2!2sLake%20Naivasha!5e0!3m2!1sen!2ske!4v1713282492940!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
        </section>
    </div>
    <br>
    {% include "footer.html" %}
</body>
</html>
