<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lake National National Park</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">

    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>

</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <section class="row">
            <h2 class="text-center">Lake Nakuru National Park – Sanctuary of Flamingos</h2>
            <p>Located in the Rift Valley of Kenya, Lake Nakuru National Park is renowned for its vast population of flamingos, creating a breathtaking spectacle of pink hues along its shores. The park also offers diverse wildlife, including rhinos, giraffes, zebras, and various bird species. Nature enthusiasts can explore the park's lush landscapes, woodland areas, and scenic viewpoints, making it a must-visit destination for wildlife lovers.</p>
            <br>
            <img src="../static/images/lakenakuru1.jpg" width="1320" height="750">  
            <br>
        </section>
        <h3 class="text-center">Activities at Lake Nakuru</h3>
        <ul>
            <li><b>Flamingo Watching:</b> Witness the stunning sight of thousands of flamingos congregating along the shores of Lake Nakuru, creating a vibrant pink carpet against the blue waters.</li>
            <li><b>Game Drives:</b> Embark on thrilling game drives through the park to spot a variety of wildlife, including rhinos, giraffes, buffaloes, and elusive leopards.</li>
            <li><b>Bird Watching:</b> Explore the park's diverse birdlife, with over 400 bird species recorded, including pelicans, cormorants, and various waterfowl.</li>
            <li><b>Nature Walks:</b> Take guided nature walks to explore the park's landscapes, learn about its flora and fauna, and enjoy panoramic views of Lake Nakuru and its surroundings.</li>
            <li><b>Picnicking:</b> Relax and enjoy a picnic at designated areas within the park, surrounded by scenic vistas and the sounds of nature.</li>
        </ul>
        <h3 class="text-center">Wildlife at Lake Nakuru</h3>
        <ul>
            <li><b>Flamingos:</b> Lake Nakuru is famous for its large population of flamingos, which feed on the algae-rich waters of the lake, creating a spectacular sight.</li>
            <li><b>Rhinos:</b> The park is a sanctuary for both black and white rhinos, offering excellent opportunities for rhino sightings during game drives.</li>
            <li><b>Giraffes:</b> Towering giraffes can be spotted grazing on acacia trees and shrubs within the park, adding to its scenic beauty.</li>
            <li><b>Buffaloes:</b> Herds of African buffaloes roam the grasslands of Lake Nakuru, often seen grazing or wallowing in mud.</li>
            <li><b>Leopards:</b> While elusive, leopards inhabit the woodlands and rocky outcrops of the park, providing lucky visitors with rare sightings.</li>
            <li><b>Zebra:</b> Both plains zebras and Grevy's zebras can be found in Lake Nakuru, grazing peacefully in the park's grassy plains.</li>
        </ul>
        <h3 class="text-center">Best Time to Visit Lake Nakuru</h3>
        <p>The best time to visit Lake Nakuru is during the dry season, from June to October, when wildlife congregates around the lake's shores, and vegetation is less dense, offering better visibility. However, birdwatchers may prefer visiting during the wet season, from November to May, when migratory birds arrive in large numbers, adding to the park's avian diversity.</p>
        <section class="row">
            <h3 class="text-center">Location</h3>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63835.838555342736!2d36.087768749999995!3d-0.3592107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x18298fe3b0de60ef%3A0xbb9b734c1a471f80!2sLake%20Nakuru!5e0!3m2!1sen!2ske!4v1714375320486!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </section>
    </div>
    <br>
    {% include "footer.html" %}
</body>
</html>
