<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mount Kilimanjaro</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">


    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <section class="row">
            <div class="col-md-12">
                <h2>Mount Kilimanjaro</h2>
                <p>
                    Mount Kilimanjaro is the tallest mountain in Africa, located in Tanzania. It is a dormant volcano with three volcanic cones: Kibo, Mawenzi, and Shira. Rising to an elevation of 5,895 meters (19,341 feet) above sea level, Kilimanjaro is a popular destination for trekking and climbing enthusiasts from around the world.
                </p>
                <img src="../static/images/mountkilimanjaro.jpg" width="1320" height="800" alt="Mount Kilimanjaro">
            </div>
        </section>
        <!-- Best Time to Visit -->
        <section>
            <h3 class="text-center">Best Time to Visit</h3>
            <p>
                The best time to climb Mount Kilimanjaro is during the dry seasons, which occur from late June to October and from late December to early March. During these periods, the weather is typically clear, and there is less precipitation, providing favorable conditions for trekking and summiting the mountain.
            </p>
            <p>
                It's essential to avoid the rainy seasons, which are from mid-March to early June and from November to mid-December. The rainy seasons bring heavy rainfall, which can make the trails slippery and more challenging to navigate. Additionally, clouds and fog may obscure the breathtaking views of the surrounding landscape.
            </p>
        </section>
        <!-- Wildlife -->
        <section>
            <h3 class="text-center">Wildlife</h3>
            <p>
                While Mount Kilimanjaro is not known for its wildlife compared to other Tanzanian national parks, it still offers opportunities to encounter various species, particularly on the lower slopes and surrounding areas. Some of the wildlife you may encounter include:
            </p>
            <ul>
                <li>Colobus monkeys</li>
                <li>Blue monkeys</li>
                <li>Duikers</li>
                <li>Elephants (rarely seen on the lower slopes)</li>
                <li>Buffaloes (occasionally spotted near the forest edges)</li>
                <li>Various bird species</li>
            </ul>
        </section>
        <!-- Location -->
        <section>
            <h3 class="text-center">Location</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101764.61754336683!2d37.34110539163124!3d-3.0674255735923844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1837549c9ba4d997%3A0x34a54261598f8537!2sMount%20Kilimanjaro!5e0!3m2!1sen!2stz!4v1649606999223!5m2!1sen!2stz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </section>
    </div>
    {% include "footer.html" %}
</body>
</html>
