<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mount Kenya</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">


    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <section class="row">
            <div class="col-md-12">
                <h2>Mount Kenya</h2>
                <p>
                    Mount Kenya is the second-highest mountain in Africa, located in Kenya. It is an extinct stratovolcano standing at approximately 5,199 meters (17,057 feet) tall. The mountain is known for its diverse ecosystems, breathtaking scenery, and cultural significance.
                </p>
                <img src="../static/images/mountkenya.jpg" width="1320" height="800" alt="Mount Kenya">
            </div>
        </section>
        <!-- Best Time to Visit -->
        <section>
            <h3 class="text-center">Best Time to Visit</h3>
            <p>
                The best time to visit Mount Kenya largely depends on your preferences and the activities you plan to undertake. However, generally speaking, the dry seasons are considered the best times for trekking and climbing. <br>

                The two main dry seasons in Kenya are from January to March and from July to October. During these periods, you're more likely to encounter clear skies and dry weather, making trekking and climbing conditions more favorable. The visibility is also better, allowing for stunning views of the mountain and surrounding landscapes. <br>
                
                If you're primarily interested in wildlife viewing, you might also consider visiting during the dry seasons, as animals tend to congregate around water sources, making them easier to spot. <br>
                
                That said, Mount Kenya can be visited year-round, but the wet seasons (April to June and November to December) bring more rain, which can make trekking trails muddy and slippery. However, some visitors prefer the lush greenery and fewer crowds during these times. <br>
            </p>
        </section>
        <!-- Wildlife -->
        <section>
            <h3 class="text-center">Wildlife</h3>
            <p>
          <b>African Elephant:</b> Though not as common as in some other parks, elephants can still be found in the lower forested slopes and surrounding areas. <br>
          <b>  Buffalo:</b> Buffalo can be found in the forested areas and open grasslands around the mountain.<br>
          <b> Black and White Colobus Monkeys:</b> These striking primates are often seen in the forested areas of the park, swinging through the trees. <br>
          <b>    Sykes' Monkeys:</b> Another species of monkey commonly found in the forests around Mount Kenya.<br>
          <b>    Bushbuck:</b> These antelope are often seen in the forested areas and along riverbanks.<br>
          <b>   Giant Forest Hog:</b> A large pig species that inhabits the forested slopes of Mount Kenya.<br>
          <b>   Rock Hyrax:</b> These small, furry mammals are often seen sunning themselves on rocks.<br>
          <b>  Various bird species:</b> Mount Kenya is home to a variety of bird species, including the Hartlaub's Turaco, which is endemic to the region, as well as other species like sunbirds, eagles, and owls.<br>
            </p>
        </section>
        <!-- Location -->
        <section>
            <h3 class="text-center">Location</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15957.54843490727!2d37.318627075792924!3d-0.15724826510413692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f0ee7e18cc319%3A0x89e445e8fb84d68c!2sMount%20Kenya!5e0!3m2!1sen!2ske!4v1649606560477!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </section>
    </div>
    {% include "footer.html" %}
</body>
</html>
