<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nairobi National Park</title><link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">


    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>
    <!-- <style>
        .button-container {
            text-align: center;
        }
        
        .button {
            /* Add your button styles here */
            /* Example styles */
            display: inline-block;
            padding: 10px 20px;
            background-color: #62583B;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
        }
        
    </style> -->

</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <section class="row">
            <div class="col-md-12">
                <h2>Nairobi National Park – The world’s only wildlife capital</h2>
                    <p>A short drive out of Nairobi’s central business district is the Nairobi National Park. Wide open grass
                            plains and backdrop of the city scrapers, scattered acacia bush play host to a wide variety of wildlife
                            including the endangered black rhino, lions, leopards, cheetahs, hyenas, buffaloes, giraffes and diverse
                            birdlife with over 400 species recorded. Visitors can enjoy the park’s picnic sites, three campsites and
                            the walking trails for hikers.
                    </p>
                    <img src="../static/images/nairobinationalpark1.jpg" width="1320" height="750">
                    <br>
            </div>
        </section>
        <!-- Activities -->
        <section>
           <h3 class="text-center">Some activities you can engage in at Nairobi National Park</h3>

           <b>Game Drives:</b> Explore the park on a guided safari game drive, where you can spot a wide variety of wildlife, including lions, giraffes, zebras, buffaloes, rhinos, and more.
            <br>
           <b>Nature Walks and Hiking Trails:</b> Take a guided nature walk or hike along designated trails to experience the park's diverse ecosystems up close. This is a great way to observe birds, insects, and smaller animals, as well as to appreciate the flora and fauna.
           <br>
           <b>Picnicking:</b> Enjoy a picnic amidst the natural beauty of Nairobi National Park. Some areas within the park offer designated picnic spots where you can relax and enjoy the surroundings.
           <br>
           <b>Birdwatching:</b> With over 400 bird species recorded in the park, Nairobi National Park is a paradise for birdwatchers. Bring your binoculars and camera to spot various avian species, including raptors, waterbirds, and migratory birds.
           <br>
           <b>Photography Safaris:</b> Capture stunning images of wildlife, landscapes, and the Nairobi skyline from within the park. Whether you're an amateur or professional photographer, the diverse scenery and abundant wildlife offer endless opportunities for captivating shots.
           <br>
           <b>Animal Orphanage Visit:</b> Adjacent to Nairobi National Park is the Nairobi Animal Orphanage, where you can see and learn about orphaned and injured animals undergoing rehabilitation before their eventual release back into the wild.
           <br>
           <b>Educational Programs and Visitor Centers:</b> Participate in educational programs offered by the park authorities to learn more about wildlife conservation, habitat protection, and environmental stewardship. Visitor centers within the park provide informative exhibits and materials about the park's ecology and conservation efforts.
           <br>
           <b>Camping:</b> Some areas of Nairobi National Park offer camping facilities, allowing visitors to spend the night surrounded by the sounds of the wilderness. Camping in the park provides a unique opportunity to experience the sights and sounds of the African bush after dark.
        </section>
        <!-- Wildlife -->
        <section>
            <h3 class="text-center">Wildlife</h3>
           <b>Lions:</b>  Nairobi National Park is known for its healthy population of lions. These majestic predators can often be spotted lounging in the grasslands or hunting their prey.
            <br>
           <b>Giraffes:</b>  The park is inhabited by both Masai giraffes and Rothschild's giraffes, providing excellent opportunities for observing these graceful creatures up close.
           <br>
           <b>Zebras:</b>  Plains zebras are a common sight in Nairobi National Park, often seen grazing in the open savannah alongside other herbivores.
           <br>
           <b>Buffaloes:</b>  Cape buffaloes roam the grasslands and woodlands of the park in large herds, making for impressive sightings during game drives.
           <br>
           <b>Rhinos:</b>  Both black rhinos and white rhinos can be found in Nairobi National Park, contributing to conservation efforts for these endangered species.
           <br>
           <b>Hippos:</b>  Although primarily nocturnal, hippos can be spotted near water bodies within the park, especially during the early morning or late evening hours.
           <br>
           <b>Cheetahs:</b>  While less common than some other predators, cheetahs can occasionally be seen hunting or resting in the park's open plains.
           <br>
           <b>Various Antelope Species:</b>  Nairobi National Park is home to a variety of antelope species, including impalas, elands, gazelles, and waterbucks, among others.
           <br>
        </section>
        <!-- Best time to visit -->
        <section>
            <h3 class="text-center">Best time to visit</h3>
           <b>Dry Season (June to October):</b>
            <p>This period is generally considered the best time to visit Nairobi National Park for wildlife viewing.
                The dry season offers clear skies and pleasant weather, with cooler temperatures compared to the hotter months.
                Vegetation is less dense during this time, making it easier to spot wildlife as they gather around water sources.
                There are fewer mosquitoes and less risk of malaria during the dry season.
            </p>    
            <b>Wet Season (November to May):</b>
            <p> The wet season in Nairobi National Park typically experiences rainfall, which can vary in intensity.
                The landscape becomes lush and green, offering beautiful scenery and excellent photographic opportunities.
                Birdwatching enthusiasts may enjoy the wet season as migratory birds arrive in the park.
                It's worth noting that some roads within the park may become impassable or muddy during heavy rains, potentially limiting accessibility.
            </p>   
            <b>Shoulder Seasons (March to May and November):</b>
            <p> These transitional periods between the dry and wet seasons can offer a unique experience in Nairobi National Park.
                The park is less crowded during these months, allowing for a more serene and peaceful atmosphere.
                Wildlife sightings can still be rewarding, and you may have the opportunity to witness the changing seasons and animal behaviors.
            </p> 
            </section>
        <!-- Location -->
    <section class="row">
        <h3 class="text-center">Location</h3>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.6569192511465!2d36.85844507410166!3d-1.3824922986044434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f0fbbde36bc45%3A0x6f9671d1966870ec!2sNairobi%20National%20Park!5e0!3m2!1sen!2ske!4v1713214189401!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <br>
    
    </div>
    {% include "footer.html" %}
</body>
</html>