<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nakuru Day Trip</title><link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">


    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>

    <style>
        .button-container {
            text-align: center;
        }
        
        .button {
            /* Add your button styles here */
            /* Example styles */
            display: inline-block;
            padding: 10px 20px;
            background-color: #62583B;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
        }
        
    </style>

</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <section class="row">
            <h2>Lake Nakuru National Park</h2>
            <p>On the floor of the Great Rift Valley, surrounded by wooded and bushy grassland, lies the beautiful Lake
                Nakuru National Park. Visitors can enjoy the wide ecological diversity and varied habitats that range
                from Lake Nakuru itself to the surrounding escarpment and picturesque ridges. Lake Nakuru National Park
                is ideal for bird watching, hiking,picnic and game drives.
            </p> 
            <img src="../static/images/lakenakuru1.jpg" alt=""   >
            <section class="row">
                <h2>Lake Nakuru National Park Day Trip</h2>
                <ol type="i">
                        <li>Pick up from your Nairobi hotel or Airport in the morning at 06:00 hrs Depart Nairobi for Lake Nakuru National Park a drive of 3 hours to Nakuru.</li>
                        <li>You will pass through The Great African Rift Valley escarpment view and you arrive lake Nakuru around 09:00 hrs with your packed lunch.</li> 
                        <li>Then you enter with game drive.</li>
                </ol> 
            </section>
            <br>
            <section>
                Lake Nakuru is among Kenya’s finest national parks. Flanked by rocky escarpments,
                pockets of acacia forest and at least one waterfall, the park is gorgeous year-round
                and is home to both black and white rhinos, lions, leopards, hippos and endangered
                Rothschild’s giraffes. Rising water levels in 2014 forced the park’s famous pinky
                flamingos to flee (although a small number of hundreds can be spotted), and the lake
                is now hauntingly surrounded by drowned trees. <br>
                The southern end of the lake is the best place to see wildlife. The forested area
                below Flamingo Hill is a favourite lion-spotting point – lionesses love to sleep in the
                trees – while leopards frequent the same area, and are also sometimes seen around
                the Makalia Falls. <br>
                Visitors can enjoy the wide ecological diversity and varied habitats that range from
                Lake Nakuru itself to the surrounding escarpment and picturesque ridges.
            </section>
            <ol>
                You will have your lunch while doing your game drive. 
                After game drive until 15:30 hrs you will leave Lake for Nairobi arriving late in the evening. 
                Drop off at your respective hotel or Airport.
            </ol> <br>
           <h5>Here's a price package</h5>
           <ul type="circle">
                <li>Price package for 2 passenger safari with Minibus : $ 440</li>
                <li>Price Per person $ 220</li>
            <h5>Prices for solo traveler or groups can be requested.</h5>
            Tour Price Includes:
                <li>Exclusive transport in a safari tour mini bus with a game viewing roof hatch and UHF radio</li> 
                <li>National park &amp; game reserve entrance fees as per itinerary</li> 
                <li>Driver guide experienced in game spotting.</li>
                <li>Fuel, driver and car park fees, driver’s allowance.</li>
                <li>All park entry fees for clients, Mineral Water and packed Lunch</li>
                </ul>
        </section>
        <div class="button-container">
            <a href="/requestquote">
                <button class="button">Request A Quote</button>
            </a>
        </div>
        <br>
    </div>
    {% include "footer.html" %}
</body>
</html>