<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queen Elizabeth National Park</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">

    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    <!-- Navbar -->
    {% include "navbar.html" %}

    <div class="container-fluid">
        <section class="row">
            <div class="col-md-12">
                <h3>Queen Elizabeth National Park</h3>
                    <p>This is one of the oldest and largest National Parks in Uganda measuring 3,840km2. It boasts over 76
                        species of mammals and 451 birds. Set against the backdrop of the jagged Rwenzori Mountains, the park’s
                        magnificent vistas include dozens of enormous craters carved dramatically into rolling green hills,
                        panoramic views of the Kazinga Channel with its banks lined with hippos, buffalo and elephants, and the
                        endless Ishasha plains, whose fig trees hide lions ready to pounce on herds of unsuspecting Uganda kob.
                        This park is arguably one of Uganda’s best park with a variety to offer ranging from river cruises along
                        the River Nile to Chimpanzee tracking in the nearby Budongo Forest alongside the game drives within the
                        park on the Savannah grasslands. Wildlife include elephant, lion, Cape buffalo, Rothschild’s giraffe,
                        hartebeest, Oribi, bushbuck, Uganda Kob, Bohor reedbuck, spotted hyena and if lucky you could even spot
                        the leopard amongst others.
                        This park has two distinctive parts i.e. the northern section of the park contains savanna and borassus
                        palms, acacia trees and riverine woodland which is an excellent area for game viewing while the south is
                        dominated by woodland and forest patches extending to the Budongo Forest where Chimps tracking takes
                        place.
                    </p> 
                <img src="../static/images/queenelizabethnationalpark.jpg" width="1320" height="750">
                <br>
            </div>
        </section>
        <!-- Activities -->
        <section>
            <h3 class="text-center">Activities in Queen Elizabeth National Park</h3>
            <b>Safari Drives:</b> Explore the park's diverse landscapes and encounter iconic African wildlife, including elephants, lions, leopards, and more, on thrilling safari drives.
            <br>
            <b>Boat Safaris:</b> Cruise along the Kazinga Channel and witness hippos, crocodiles, and a myriad of bird species in their natural habitat.
            <br>
            <b>Chimpanzee Tracking:</b> Embark on guided treks through the lush forests of Kyambura Gorge to observe chimpanzees in their natural environment.
            <br>
            <b>Birdwatching:</b> With over 600 bird species recorded, Queen Elizabeth National Park is a paradise for bird enthusiasts, offering exceptional opportunities for birdwatching.
            <br>
            <b>Cultural Encounters:</b> Engage with local communities, such as the Bakonzo and Batwa, and learn about their rich cultural heritage and traditional way of life.
            <br>
        </section>
        <!-- Wildlife -->
        <section>
            <h3 class="text-center">Wildlife in Queen Elizabeth National Park</h3>
            <b>Elephants:</b> Witness large herds of elephants roaming the savannah plains and congregating around water sources in the park.
            <br>
            <b>Lions:</b> Observe the majestic lions of Queen Elizabeth as they roam their territory and hunt for prey amidst the park's diverse landscapes.
            <br>
            <b>Buffaloes:</b> Encounter massive herds of African buffaloes grazing in the grasslands and marshes of the park.
            <br>
            <b>Hippos and Crocodiles:</b> Cruise along the Kazinga Channel and spot hippos wallowing in the water and crocodiles basking in the sun along the riverbanks.
            <br>
            <b>Chimpanzees:</b> Track chimpanzees in Kyambura Gorge and witness these fascinating primates in their natural habitat.
            <br>
        </section>
        <!-- Best time to visit -->
        <section>
            <h3 class="text-center">Best Time to Visit</h3>
            <b>Dry Season (June to September):</b> The dry season offers excellent wildlife viewing opportunities as animals gather around water sources, and vegetation is less dense.
            <br>
            <b>Wet Season (March to May and October to November):</b> The wet season brings lush greenery to the park but may make wildlife spotting more challenging due to thicker vegetation.
            <br>
            <b>Shoulder Seasons (December to February and June to September):</b> These transitional periods offer a balance between wildlife sightings and fewer tourists, providing a more intimate safari experience.
            <br>
        </section>
        <!-- Location -->
        <section class="row">
            <h3 class="text-center">Location</h3>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d252322.56926650423!2d29.885577944790424!3d-0.24679195173209827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x177004c131bd2c75%3A0x6f0f9e740d41ef5d!2sQueen%20Elizabeth%20National%20Park!5e0!3m2!1sen!2sug!4v1713214896759!5m2!1sen!2sug" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <br>
    </div>
    
    <!-- Footer -->
    {% include "footer.html" %}
    
</body>
</html>
