<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sibiloi National Park</title><link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">


    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>

</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <section class="row">
            <div class="col-md-12">
                <h2>Sibiloi National Park – The cradle of mankind</h2>
                    <p>This park is located on the wild and rugged shores of Lake Turkana and is home to important
                        archaeological sites including Koobi Fora where the fossil remains have contributed more to the
                        understanding of human evolution than any other site on the continent. The area is characterized by
                        semi-desert habitat and open plains flanked by volcanic formations including Mount Sibiloi, where the
                        remains of a petrified forest can be seen.
                    </p> 
                    <p>Sibiloi serves as a stopover for migrant waterfowl and is a major breeding ground for the Nile
                        crocodile. Terrestrial wildlife includes zebras, Grant gazelles, lions, leopards, stripped hyenas, Beisa
                        Oryx, greater kudu, cheetahs and northern topi among others. A total of over 350 species of aquatic and
                        terrestrial bird have been recorded in Lake Turkana. Sibiloi is surrounded by the Turkana, the Gabra and
                        the Dassanach who are communities with very rich and unpolluted traditional cultures.
                    </p>
                    <br>
                    <img src="../static/images/sibiloi.jpg" width="1300" height="550">
                    <br>
                    <h3 class="text-center">Here are some of the activities that you can do while in Sibiloi</h3>
                    <b>Fossil Sites: </b> Sibiloi is famous for its rich deposits of fossils, including those of early hominids like Homo habilis and Homo erectus. Tourists can visit sites such as Koobi Fora, where numerous significant fossil discoveries have been made, providing insights into human evolution.
                    <br>
                    <b>Lake Turkana:</b> The park's location on the northeastern shore of Lake Turkana offers breathtaking views of one of the world's largest desert lakes. Tourists can enjoy boat safaris, fishing excursions, or simply relax by the lake and take in the stunning scenery.
                    <br>
                    <b>Wildlife Viewing:</b> While Sibiloi is not as well-known for its wildlife as other parks in Kenya, visitors can still encounter a variety of animals such as crocodiles, hippos, zebras, and various bird species. Game drives offer opportunities to spot these animals in their natural habitat.
                    <br>
                    <b>Cultural Interaction:</b> The area surrounding Sibiloi is inhabited by local communities such as the Turkana people. Tourists can engage in cultural experiences, including visits to traditional Turkana villages, where they can learn about the local way of life, customs, and traditions.
                    <br>
                    <b>Scenic Landscapes:</b>Sibiloi National Park boasts diverse landscapes, including volcanic formations, rocky outcrops, and desert terrain. Tourists can explore the park on foot or by vehicle, taking in the unique beauty of the area.
                    <br>
                    <b>Archaeological Sites: </b>In addition to fossil sites, Sibiloi is home to archaeological remains dating back thousands of years. Visitors can explore ancient settlements, burial sites, and artifacts, gaining insights into the region's rich cultural history.
                    <br>

                    <h3 class="text-center">Wildlife</h3>
                    <b>Crocodiles: </b>Lake Turkana is home to Nile crocodiles, and visitors may spot them basking along the shores or floating in the water.
                    <br>
                    <b>Hippos:</b> Although not as abundant as in other areas, hippos can still be found in Lake Turkana and its surrounding areas.
                    <br>
                    <b>Zebras:</b> Plains zebras can sometimes be seen grazing in the park's grasslands.
                    <br>
                    <b>Gazelles:</b> Various species of gazelles, such as Grant's gazelle and Gerenuk, can be found in the park.
                    <br>
                    <b>Ostriches: </b>Sibiloi National Park is home to a population of ostriches, the largest birds in the world.
                    <br>
                    <b>Birds:</b> The park is a haven for birdwatchers, with over 350 bird species recorded, including flamingos, pelicans, eagles, and vultures.
                    <br>

                    <h3 class="text-center">Best time to visit Sibiloi</h3>
                    <b>Weather: </b>Sibiloi National Park experiences a hot and dry climate for much of the year, with temperatures often exceeding 30°C (86°F). The hottest months are typically from January to March, while the coolest months are from June to August. The dry season, which runs from July to October, is generally considered the best time to visit as wildlife is more concentrated around water sources, making for easier sightings.
                    <br>
                    <b>Rainfall: </b>The wet season in Sibiloi National Park occurs from March to June and October to December. While the landscape becomes greener during this time, wildlife may be harder to spot as animals disperse across larger areas to find water and food. However, the wet season can be a rewarding time to visit for birdwatching enthusiasts, as migratory birds flock to the area.
                    <br>
                    <b>Paleontological Excavations: </b>If you're particularly interested in paleontology and archaeology, you may want to coincide your visit with ongoing excavations and research activities in the area. These activities may vary depending on the time of year and the schedules of research teams.
                    <br>
                    <b>Crowds: </b>Sibiloi National Park is not as heavily visited as some other parks in Kenya, but visitor numbers may still fluctuate seasonally. If you prefer to avoid crowds, consider visiting during the shoulder seasons (April to June and September to October) when visitor numbers tend to be lower.
                    <br>
                    <section class="row">
                    <h3 class="text-center">Location</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d509456.33564697223!2d36.08656477681074!3d3.9941699926607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1798994def820a83%3A0x569a35da1b70bb92!2sSibiloi%20National%20Park!5e0!3m2!1sen!2ske!4v1713539617416!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </section>
                </div>

        </section>
        <br>
    </div>
    {% include "footer.html" %}
</body>
</html>