<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>South Island National Park</title><link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">


    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>

</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <section class="row">
                <h2>South Island National Park -The Isle of Mystery</h2>
                     <p>Covered end to end in volcanic ash, the nightly glow of its South Island’s luminous vents has inspired
                        numerous tales of ghosts and evil spirits. The island is home to a profusion of birdlife including 34
                        species of European migrants most spectacularly viewed as they return home between March and May. At
                        least 23 species breed here, including Goliath heron, and African skimmer, while African open-billed
                        stork, Duck and Gulls feed on the shores and the volcanic island lakes attract lesser flamingos. Birds
                        of prey are also abundant, especially swallow-tailed kites. This park is ideal for game watching and has
                        one of the world’s largest concentrations of crocodiles.
                    </p> 
        </section>
        <section class="row">
            <img src="../static/images/southislandnationalpark1.jpg" alt="">

        </section>
        <section class="row">
                <h2>Wildlife</h2>
                <p>
                    <p><strong>Crocodile Kingdom</strong></p>

<p>Survivors of an epoch long before mankind, Lake Turkana’s estimated 12,000 crocodiles have not changed in 130 million years. Despite their monstrous size and formidable appearance they are generally inoffensive creatures living in perfect harmony with their environment and feeding on the lake’s prolific fish.</p>

<p><strong>The world’s largest crocodile nursery</strong></p>

<p>Crocodiles breed on the shores of the island’s crater lakes between April and May. The baby crocodiles can be heard squeaking in their eggs, which are buried deep beneath the sand to escape the predatory attentions of monitor lizards and raptors. Their cries bring their parents scurrying to dig them out and carry them down to the water’s edge, where they spend their first months.</p>

<p><strong>Venomous reptiles and prehistoric fish</strong></p>

<p>Turkana is home to some of the world’s most venomous reptiles, including saw-scaled viper, night and puff adder and cobra. There are also many species of fish including huge Nile perch and large tilapia. Puffer fish, a group normally found in seawater, indicate Turkana’s prehistoric connection to the Red Sea.</p>

<p><strong>Abundant birdlife</strong></p>

<p>The islands are home to a profusion of birdlife (over 84 water bird species), including 34 species of European migrants most spectacularly viewed as they return home between March and May. At least 23 species breed here, including Goliath heron, and African skimmer, while African open-billed stork, Duck and Gulls feed on the shores and the volcanic island lakes attract lesser flamingos. Birds of prey are also abundant, especially swallow-tailed kites.</p>
                </p>

        </section>
        <section class="row">
            <h3>Best time to visit</h3>
            <p>The best time to visit is in the dry month from October to January.
                In July and August the park experiences some cool tempratures
            </p>

        </section>
        <section class="row">
            <h3>Location</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1019458.569121958!2d34.702876246875014!3d3.5272909000000254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x179ed5e1f79d6a4f%3A0x719652d69497842e!2sSouth%20Island%20National%20Park!5e0!3m2!1sen!2ske!4v1713873845676!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </section>

    </div>
    
    {% include "footer.html" %}
</body>
</html>