<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarangire National Park</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">


    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <section class="row">
            <div class="col-md-12">
                <h3>Tarangire National Park</h3>
                <p>Tarangire is one of Africa’s little-known gems and a must for any northern circuit itinerary.
                    Boasting a variety of wildlife as diverse as its landscape, Tarangire is also the park that can boast
                    being home to Tanzania’s largest population of African elephants. With four of the Big Five also
                    residing within the park, it is a great spot for a day trip from Arusha or as an addition to a
                    Serengeti/Ngorongoro centred itinerary.
                    Named after Tarangire River which flows through it, the park is an excellent choice during the dry
                    season when animals are forced to move closer and closer to the river in search of water. Set against a
                    backdrop of majestic baobab trees and twisted acacia, it makes for a beautiful experience.
                </p><img src="../static/images/tarangire.jpg" width="1320" height="750">
                <br>
            </div>
        </section>
        <!-- Activities -->
        <section>
            <h3 class="text-center">Activities in Tarangire National Park</h3>
            <b>Safari Excursions:</b> Embark on thrilling safari adventures to discover the park's wealth of wildlife, including large elephant herds, lions, leopards, and a variety of antelope species.
            <br>
            <b>Birdwatching:</b> Tarangire is a paradise for birdwatchers, offering opportunities to spot hundreds of bird species, including the endemic yellow-collared lovebird and the Kori bustard.
            <br>
            <b>Walking Safaris:</b> Join guided walking safaris to explore the park on foot, immersing yourself in its stunning landscapes while learning about its flora and fauna from experienced guides.
            <br>
            <b>Cultural Visits:</b> Engage in cultural interactions with local tribes, such as the Maasai, and gain insight into their traditional way of life, customs, and rituals.
            <br>
            <b>Bush Camping:</b> Experience the thrill of sleeping under the stars in the heart of the African wilderness by participating in bush camping adventures within the park.
            <br>
        </section>
        <!-- Wildlife -->
        <section>
            <h3 class="text-center">Wildlife in Tarangire National Park</h3>
            <b>Elephants:</b> Tarangire is renowned for its large elephant population, which congregates around the Tarangire River during the dry season, providing excellent viewing opportunities.
            <br>
            <b>Lions:</b> Encounter majestic lions lounging in the shade of acacia trees or on rocky outcrops, as they survey their territory and plan their next hunt.
            <br>
            <b>Giraffes:</b> Spot elegant giraffes gracefully roaming the park's savannah, their distinctive silhouettes blending with the surrounding acacia trees.
            <br>
            <b>Antelopes:</b> Tarangire is home to a variety of antelope species, including the greater kudu, fringe-eared oryx, and gerenuk, which can be observed grazing on the park's plains.
            <br>
            <b>Birdlife:</b> With over 500 bird species recorded, Tarangire offers exceptional birdwatching opportunities, with highlights including the colorful lilac-breasted roller and the majestic martial eagle.
            <br>
            <b>Leopards:</b> While more elusive than lions, leopards can be spotted in Tarangire, particularly around rocky outcrops and dense vegetation where they seek refuge and hunt.
            <br>
        </section>
        <!-- Best time to visit -->
        <section>
            <h3 class="text-center">Best Time to Visit</h3>
            <b>Dry Season (June to October):</b> The dry season is the best time to visit Tarangire for wildlife viewing, as animals concentrate around water sources, providing excellent opportunities for sightings.
            <br>
            <b>Wet Season (November to May):</b> While the wet season brings lush green landscapes and the birth of new wildlife, wildlife viewing can be more challenging due to dense vegetation. However, it's an ideal time for birdwatching.
            <br>
            <b>Shoulder Seasons (March to May and November):</b> These transitional months offer a balance between the dry and wet seasons, with fewer tourists and pleasant weather conditions, making it a good time to visit for a more intimate safari experience.
            <br>
        </section>
        <!-- Location -->
        <section class="row">
            <h3 class="text-center">Location</h3>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8108.787326206746!2d35.28850611878335!3d-3.820970565098955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x18370fcf898d080f%3A0xa53f7601ac0b6fc9!2sTarangire%20National%20Park!5e0!3m2!1sen!2stz!4v1713214237994!5m2!1sen!2stz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <br>
    </div>
    {% include "footer.html" %}
</body>
</html>
