<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tours</title><link rel="stylesheet" href="css/bootstrap.css">
    <!-- <script src="js/bootstrap.js"></script> -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">


    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>
    <style>
        .button-container {
            text-align: center;
        }
        
        .button {
            /* Add your button styles here */
            /* Example styles */
            display: inline-block;
            padding: 10px 20px;
            background-color: #62583B;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
        }
        
    </style>

</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <section class="row">
            <div class="col-md-12">
                <a href="/requestquote" width="430" height="300">
                    <img src="../static/images/sunsetXlion.jpg" alt=""  width="1300" height="500">
            </a>
            <br>
            <br>
            <h3 class="display-6 text-center">We offer you the best tour experience you can ever have</h3>
            <p class="lead fs-5 mt-4 text-center">
            At Roaring Lion, we believe that travel should be more than just a vacation-it should be an immersive, transformative experience that leaves you yearning for more. That is why we have meticulously handpicked each destination and crafted unique itineraries that allow our guests to truly connect with the world around them. In addition to traditional sightseeing tours, Roaring Lion Tours and Travel offers specialty experiences such as photography safaris, culinary adventures, and eco-friendly travel options. With a focus on sustainability and responsible tourism practices, Roaring Lion Tours is committed to preserving the planets natural beauty for future generations to enjoy.
            </p>
            <div class="button-container">
                <a href="/requestquote">
                    <button class="button">Request A Quote</button>
                </a>
            </div>
        </section>
        <br>
        <h3 class="display-5 text-center"> Here are the destinations and safari we can offer for your holiday</h3>
       <section class="row">
        <h4 class="display-6 text-center">Day trips</h4>
                <div class="col-md-4">
                    <a href="/nakurudaytrip">
                        <img src="../static/images/daytrips.jpg" alt="" width="430" height="300">
                    </a>
                    <h5>Lake Nakuru Day Trip</h5>
                </div>
                <div class="col-md-4">
                    <a href="/nairobidaytrip">
                        <img src="../static/images/gateaway.jpg" alt="" width="430" height="300">
                    </a>
                    <h5>Nairobi National Park Day Trip</h5>
                </div>
                <div class="col-md-4">
                    <a href="/naivashadaytrip">
                        <img src="../static/images/kenyagateaway.jpg" alt="" width="430" height="300">
                    </a>
                    <h5>Lake Naivasha Day Trip</h5>

                </div>          
        </section>
        <h4 class="display-6 text-center">Beach Holidays</h4>
        <p class="lead fs-5 mt-4 text-center">
            Explore a remarkable holiday adventure with Roaring Lion Tours and Travel, journeying through the breathtaking wonders of Watamu, Malindi, Mombasa, Lamu, and Diani. From the pristine beaches of Watamu to the vibrant culture of Lamu, immerse yourself in Kenya's coastal splendor. With expert guidance and seamless arrangements by Roaring Lion Tours, indulge in unforgettable experiences, from thrilling safaris to serene beach retreats, creating cherished memories that last a lifetime.
        </p>
        <section class="row">
                <div class="col-md-8">
                    <a href="/watamu">
                        <img src="../static/images/watamu1.jpg" alt=""   width="870" height="400">
                    </a>
                    <h5>Watamu Beach </h5>
                </div>
                <div class="col-md-4">
                    <a href="/diani">
                        <img src="../static/images/diani1.jpg" alt=""   width="430" height="400">
                    </a>
                    <h5>Diani Beach </h5>
                </div>

        </section>
        <br>
        <section class="row">
            <div class="col-md-4">
                <a href="/malindi">
                    <img src="../static/images/malindi1.jpg" alt=""   width="430" height="400">
                </a>
                <h5>Malindi Beach </h5>
            </div>
            <div class="col-md-4">
                <a href="/mombasa">
                    <img src="../static/images/mombasa1.jpg" alt=""   width="430" height="400">
                </a>
                <h5>Mombasa Beach </h5>
            </div>
            <div class="col-md-4">
                <a href="/lamu">
                    <img src="../static/images/lamu1.jpg" alt=""   width="430" height="400">
                </a>
                <h5>Lamu Beach </h5>
            </div>

        </section>
        <br>

        <h4 class="display-6 text-center">Honey moon</h4>
           <p class="lead fs-5 mt-4 text-center"> 
            An African honeymoon is the most romantic getaway you and your other half can have.
            Start-off your marriage with exceptional memories that you can share with your loved one for
            a long time.
        </p>
        <section class="row">
        <div class="col-md-12">
            <a href="/samburu">
                <img src="../static/images/samburu1.jpg" alt="" width="1300" height="500">
            </a>

        </div>

        </section>
        <br>
        <h4 class="display-6 text-center">Day/Night Tour Packages</h4>
        <p class="lead fs-5 mt-4 text-center">
            Set off on Kenya's wildlife wonders with Roaring Lion Tours and Travel's 5-day safari package. Day 1 starts in Nairobi, heading to Amboseli National Park. Day 2 ventures to Lake Naivasha for nature walks and a visit to Hell's Gate National Park. Day 3 continues to the iconic Masai Mara for thrilling game drives. Day 4 and 5 offer more Mara exploration before returning to Nairobi. Inclusions: transfers, accommodation, meals, game drives, and park fees. Exclusions: flights, personal expenses, and optional activities.
        </p>
        <section class="row">
            <div class="col-md-6">
                <a href="/daynightpackage1">
                    <img src="../static/images/54daynightpackage.jpg" alt="" width="650" height="500">
                </a>
                <h5>5 Days and 4 Nights Trip Package</h5>


            </div>
            
            <div class="col-md-6">
                <a href="/daynightpackage2">
                    <img src="../static/images/43daynightpackage.jpg" alt="" width="650" height="500">
                </a>
                <h5>4 Days and 3 nights Trip</h5>

            </div>


        </section>
        <section class="row">
            <h4 class="display-6 text-center">Enjoy a kenyan gateaway experience</h4>
                <h4 class="display-8 text-center">Itinerary at a glance</h4>
            
            <div class="col-md-6">
                <div class="card-shadow">
                    <a href="/gateaway1">
                        <img src="../static/images/gataaway4.jpg" alt=""  width="650" height="500">
                    </a>
                    <h5>Gateaway Experience Option 1</h5>

                </div>
            </div>
            <div class="col-md-6">
                    <div class="card-shadow">
                        <a href="/gateaway2">
                            <img src="../static/images/gateaway3.jpg" alt=""  width="650" height="500">
                        </a>
                        <h5>Gateaway Experience Option 2</h5>

                    </div>

            </div>

        </section>
       

        </div>
    <br>

    {% include "footer.html" %}
</body>
</html>
