<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volcanoes National Park</title><link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="website icon" type="png" href="../static/images/logo3.png">


    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>

</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <section class="row">
            <h3>Volcanoes National Park</h3>
                    <p>The Volcanoes National Park is situated in the far northwest of Rwanda. Covering an area of 8,000
                        kilometers square, this stunning area protects five of the nine staggeringly beautiful Virunga
                        Mountains, each characterized by steep slopes that are blanketed in thick green, tropical rainforest,
                        bamboo forest, open grassland, swamp and heath. <br>
                        The park is home to five of habituated mountain gorilla families. You will spend between 3-10 hours
                        tracking one of the official gorilla family groups through hillside paths, sometimes crawling through
                        dense vegetation which can at times be difficult. Only 38 visitor permits are available daily, in order
                        to conserve the habitat. This makes early booking essential to avoid disappointment. Tracking the
                        endangered mountain gorillas through the mysterious intimacy of the rain forest, alive with the calls of
                        200 species of colorful birds and chattering of the rare golden monkey, is only one of the truly unique
                        experiences in the area. <br>
                        Within the boundaries of Volcanoes National Park is the Buhanga Eco-Park, an ancient forest holding
                        Rwanda’s most intriguing folklore. The forest is an isolated ritual place where the kings of Rwanda
                        would be initiated and enthroned for kingship. The Musanze Caves, formed 62 million years ago after the
                        last estimated volcanic eruption, is another geological site. These caves go 2km and are covered in the
                        lush greenery. This beautiful vegetation around the caves make for good photography. <br>
                        Other activities in this park include tracking the golden monkeys, climbing one of the volcanic peaks or
                        visiting the grave of Dian Fossey, one of the most iconic primate researchers of our time who was known
                        for her study of the behavior of Rwanda’s majestic mountain gorillas.
                    </p> 
        <img src="../static/images/volcanoesnationalpark.jpg" alt="Volcanoes National Park">
        </section>
        <section class="row">
            <h3 class="text-center">Activities in Volcanoes National Park</h3>
            <ul>
                <li>Gorilla Trekking: Embark on a guided trek through the forest to encounter mountain gorillas in the wild.</li>
                <li>Golden Monkey Tracking: Explore the park to observe golden monkeys, another primate species endemic to the region.</li>
                <li>Volcano Hiking: Climb one of the park's volcanoes, such as Mount Karisimbi or Mount Bisoke, for stunning views of the surrounding landscape.</li>
                <li>Bird Watching: Spot a variety of bird species, including the Rwenzori turaco and the blue-headed sunbird.</li>
                <li>Cultural Experiences: Visit nearby communities to learn about the traditions and customs of the local people, including the Batwa pygmies.</li>
            </ul>
        </section>
        <section class="row">
            <h3 class="text-center">Wildlife in Volcanoes National Park</h3>
            <p>In addition to mountain gorillas, Volcanoes National Park is home to a diverse range of wildlife, including golden monkeys, buffalo, elephants, and various bird species.</p>
        </section>
        <section class="row">
            <h3 class="text-center">Best Time to Visit</h3>
            <p>The best time to visit Volcanoes National Park is during the dry seasons of June to September and December to February, when trekking conditions are optimal and rainfall is minimal.</p>
        </section>
        <section class="row">
            <h3 class="text-center">Location</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15911.417591766997!2d29.531418295956387!3d-1.5047997083336958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe3b500b650d25fb2!2sVolcanoes%20National%20Park!5e0!3m2!1sen!2s!4v1649286771682!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </div>
    {% include "footer.html" %}
</body>
</html>